name: Update blog posts

on:
  workflow_dispatch:

jobs:
  update-blog-posts:
    name: Update README with blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://www.brenobaptista.com/rss.xml"
          max_post_count: 8
